@import "reset";
@import "header";
@import "section";

@font-face {
    font-family: "balqis";
    src: url("../assets/fonts/balqis.woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../assets/fonts/RobotoCondensed-Light.woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url("../assets/fonts/RobotoCondensed-LightItalic.woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../assets/fonts/RobotoCondensed-Regular.woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
